<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <title>Angular - Colorpicker</title>

        <!-- Main Style of project -->
        <link rel="stylesheet" href="src/css/app.css"/>

    </head>
    <body ng-controller="colorpickerCrtl">

        <style>.current-color{ background-color: {{currentColor}};}</style>

        <section>
            <div class="container">
                <h2 class="main-title">Color Swatches</h2>

                <div class="wrap-swatches">
                    <div class="my-swatch" ng-repeat="color in colors">
                        <div class="swatch-color" style="background-color: {{color.color}};"></div>
                        <p>{{color.name}}</p>
                    </div>

                    <div class="my-swatch is-pointer">
                        <div class="swatch-color current-color"></div>
                        <p>Add Color</p>
                    </div>

                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <h2 class="main-title">Add color</h2>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="my-color-picker">
                            <div class="cp-colors">

                            </div>

                            <div class="cp-slide-darken current-color">
                                <div class="cp-arrows">

                                </div>
                            </div>

                            <div class="cp-inputs">
                                <label>
                                    <span>R</span>
                                    <input type="text" ng-model="currentRed" class="cp-red" value="{{currentRed}}" maxlength="3"/>
                                </label>
                                <label>
                                    <span>G</span>
                                    <input type="text" ng-model="currentGreen" class="cp-green" value="{{currentGreen}}" maxlength="3"/>
                                </label>
                                <label>
                                    <span>B</span>
                                    <input type="text" ng-model="currentBlue" class="cp-blue" value="{{currentBlue}}" maxlength="3"/>
                                </label>
                                <label>
                                    <span>HEX</span>
                                    <input type="text" ng-model="currentColor" class="cp-hex" value="{{currentColor}}"/>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>

    <!-- Angular JS -->
    <script src="bower_components/angular/angular.min.js"></script>

    <!-- MainJs -->
    <script src="scripts/app.js"></script>

</html>