@mixin caret($point, $border-width, $color) {
    $opposite: opposite-position($point);
    border: $border-width solid transparent;
    border-#{$opposite}: $border-width solid $color;
    border-#{$point}: 0;
    height: 0;
    width: 0;
}